---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/fetches?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 15:56:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":2,"found":104387},"results":[{"count":1014,"results":[{"message":"New
        measurements inserted for EEA Andorra: 0","failures":[],"count":0,"duration":43.102,"sourceName":"EEA
        Andorra"},{"message":"New measurements inserted for StateAir_AbuDhabi: 2","failures":[],"count":2,"duration":36.2,"sourceName":"StateAir_AbuDhabi"},{"message":"New
        measurements inserted for Australia - New South Wales: 102","failures":[],"count":102,"duration":43.071,"sourceName":"Australia
        - New South Wales"},{"message":"New measurements inserted for Australia -
        Queensland: 105","failures":[],"count":105,"duration":47.947,"sourceName":"Australia
        - Queensland"},{"message":"New measurements inserted for Australia - Tasmania:
        0","failures":{"Unknown adapter error.":1},"count":0,"duration":3.917,"sourceName":"Australia
        - Tasmania"},{"message":"New measurements inserted for Bosnia: 0","failures":{"Failure
        to load data url.":1},"count":0,"duration":1.397,"sourceName":"Bosnia"},{"message":"New
        measurements inserted for Bosnia_Tuzla[...]
