---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?city=Berlin&country=DE&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 15:56:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":2,"found":16},"results":[{"location":"DEBE010","city":"Berlin","country":"DE","count":9379,"sourceNames":["EEA
        Germany"],"lastUpdated":"2018-05-27T06:00:00.000Z","firstUpdated":"2017-09-21T00:00:00.000Z","parameters":["pm10","o3","no2"],"sourceName":"EEA
        Germany","coordinates":{"latitude":52.54304,"longitude":13.349326}},{"location":"DEBE018","city":"Berlin","country":"DE","count":2950,"sourceNames":["EEA
        Germany"],"lastUpdated":"2018-05-27T06:00:00.000Z","firstUpdated":"2017-09-21T00:00:00.000Z","parameters":["no2"],"sourceName":"EEA
        Germany","coordinates":{"latitude":52.485813,"longitude":13.348775}}]}'
  recorded_at: Sun, 27 May 2018 17:01:39 GMT
recorded_with: VCR 4.0.0
