---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/sources?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 15:56:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":2,"found":105},"results":[{"url":"http://discomap.eea.europa.eu/map/fme/latest/","adapter":"eea-direct","name":"EEA
        Andorra","location":"Andorra Location","city":"Andorra City","country":"AD","description":"Andoran
        data from UTD service","sourceURL":"http://www.eea.europa.eu/themes/air/air-quality","contacts":["info@openaq.org"],"active":true},{"url":"http://dosairnowdata.org/dos/RSS/AbuDhabi/AbuDhabi-PM2.5.xml","adapter":"stateair","name":"StateAir_AbuDhabi","city":"Abu
        Dhabi","country":"AE","description":"","sourceURL":"http://stateair.net/dos/","contacts":["info@openaq.org"],"active":true}]}'
  recorded_at: Sun, 27 May 2018 17:05:21 GMT
recorded_with: VCR 4.0.0
