---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 23 May 2018 19:16:56 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":65},"results":[{"name":"Andorra","code":"AD","cities":2,"locations":3,"count":24754},{"name":"Argentina","code":"AR","cities":1,"locations":4,"count":14976},{"name":"Australia","code":"AU","cities":18,"locations":101,"count":3747514},{"name":"Austria","code":"AT","cities":16,"locations":306,"count":1521351},{"name":"Bahrain","code":"BH","cities":1,"locations":1,"count":17746},{"name":"Bangladesh","code":"BD","cities":1,"locations":2,"count":18031},{"name":"Belgium","code":"BE","cities":14,"locations":196,"count":1393750},{"name":"Bosnia
        and Herzegovina","code":"BA[...]
