---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/fetches
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 23 May 2018 19:16:56 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":104010},"results":[{"count":674,"results":[{"message":"New
        measurements inserted for EEA Andorra: 0","failures":[],"count":0,"duration":57.711,"sourceName":"EEA
        Andorra"},{"message":"New measurements inserted for StateAir_AbuDhabi: 0","failures":[],"count":0,"duration":44.117,"sourceName":"StateAir_AbuDhabi"},{"message":"New
        measurements inserted for Australia - New South Wales: 0","failures":[],"count":0,"duration":45.039,"sourceName":"Australia
        - New South Wales"},{"message":"New measurements inserted for Australia -
        Queensland: 0","failures":{"socket hang up":1},"count":0,"duration":41.425,"sourceName":"Australia
        - Queensland"},{"message":"New measurements inserted for Australia - Tasmania:
        0","failures":{"Unknown adapter error.":1},"count":0,"duration":3.741,"sourceName":"Australia
        - Tasmania"},{"message":"New measurements inserted for Bosnia: 0","failures":{"Failure
        to load data url.":1},"count":0,"duration":1.422,"sourceName":"Bosnia"},{"message":"New
        measurements inserted fo[...]
