---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=DE&limit=2&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 27 Jun 2020 12:15:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":2,"found":36},"results":[{"country":"DE","name":"Andrea
        Schemmel","city":"Andrea Schemmel","count":106915,"locations":10},{"country":"DE","name":"Andreas
        Hainsch","city":"Andreas Hainsch","count":309554,"locations":38}]}'
  recorded_at: Sat, 27 Jun 2020 19:57:56 GMT
recorded_with: VCR 4.0.0
