---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 15:56:57 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":5,"found":65},"results":[{"name":"Andorra","code":"AD","cities":2,"locations":3,"count":25233},{"name":"Argentina","code":"AR","cities":1,"locations":4,"count":14976},{"name":"Australia","code":"AU","cities":18,"locations":101,"count":3762615},{"name":"Austria","code":"AT","cities":16,"locations":306,"count":1521351},{"name":"Bahrain","code":"BH","cities":1,"locations":1,"count":17896}]}'
  recorded_at: Sun, 27 May 2018 16:44:40 GMT
recorded_with: VCR 4.0.0
