---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 27 Jun 2020 12:15:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":5,"found":104},"results":[{"code":"AD","count":127298,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":87023,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":10024,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AG","count":1,"locations":1,"cities":1,"name":"Antigua
        and Barbuda"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"}]}'
  recorded_at: Sat, 27 Jun 2020 19:57:57 GMT
recorded_with: VCR 4.0.0
