---
http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 23 May 2018 19:16:56 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":105},"results":[{"url":"http://www.arpalazio.net/main/aria/sci/annoincorso/chimici.php","adapter":"arpalazio","name":"ARPALAZIO","country":"IT","region":"Lazio","description":"Air
        quality data from Lazio region, Italy","sourceURL":"http://www.arpalazio.net/","contacts":["info@openaq.org"],"active":true},{"url":"http://agaar.mn/aqdata/stationlist?period=h&count=1&language=en","adapter":"agaar_mn","name":"Agaar.mn","city":"Ulaanbaatar","country":"MN","description":"","resolution":"1
        hr","sourceURL":"http://agaar.mn/index","contacts":["info@openaq.org"],"active":true},{"url":"ftp.airnowapi.org","adapter":"airnow","name":"AirNow","city":"","country":"","description":"","sourceURL":"http://www.airnow.gov/","contacts":["info@openaq.org"],"active":true},{"url":"http://files.airnowtech.org/","adapter":"airnow-ke","name":"AirNow
        Kenya","city":"","country":"KE","description":"AirNow adapter specifically
        for Kenya since data is provided differently","sourc[...]
